@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap&subset=cyrillic');
@import './variables';

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: $bodyBg;
  color: $colorMain;
  font-size: $fzMain;
}

.container {
  max-width: 1160px;
  padding: 43px 10px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.sidebar {
  flex-shrink: 0;
  width: 240px;
  margin-right: 20px;
}

.main {
  flex-grow: 1;
}
